= haml 'views/sections/index/_store'.to_sym
= haml 'views/sections/index/_card'.to_sym
= haml 'views/sections/index/_rules'.to_sym
= haml 'views/sections/index/_stores'.to_sym
= haml 'views/sections/index/_feedback'.to_sym