= haml 'views/layouts/_header_index'.to_sym
= haml 'views/sections/index/_slider'.to_sym
= haml 'views/sections/index/_slider_more'.to_sym
= haml 'views/sections/index/_store'.to_sym
= haml 'views/sections/index/_card'.to_sym
= haml 'views/sections/index/_rules'.to_sym
= haml 'views/sections/index/_stores'.to_sym
= haml 'views/sections/index/_feedback'.to_sym