= haml 'views/layouts/_header_profile'.to_sym
= haml 'views/sections/profile/_banner'.to_sym
= haml 'views/sections/profile/_profile'.to_sym
= haml 'views/sections/profile/_secrets'.to_sym
= haml 'views/sections/profile/_records'.to_sym
= haml 'views/sections/profile/_history'.to_sym